<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>714783938048-gm63jprsjsrmc2rogia36q133f6rmisi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.714783938048-gm63jprsjsrmc2rogia36q133f6rmisi</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>714783938048-rn22o9rm8r6f2gq00v9s2g7eup07etcb.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDBnlEN6RsW-KPa6tbkqEqVi376KYisWao</string>
	<key>GCM_SENDER_ID</key>
	<string>714783938048</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.quranApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>quran-d1335</string>
	<key>STORAGE_BUCKET</key>
	<string>quran-d1335.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:714783938048:ios:5ff9d6a3b108b3bbb16ae5</string>
</dict>
</plist>